<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinic_seg2105">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adminLogin"></activity>
        <activity
            android:name=".bookingSection"
            android:parentActivityName=".patientSearchClinic" />
        <activity
            android:name=".commentSection"
            android:parentActivityName=".patientBookingRating" />
        <activity
            android:name=".patientBookingRating"
            android:parentActivityName=".patientSearchClinic" />
        <activity android:name=".patientIsOpen" />
        <activity android:name=".patientSearchService" />
        <activity android:name=".patientSearchClinic" />
        <activity android:name=".patientScreen" />
        <activity android:name=".patientCreateAccount" />
        <activity android:name=".employeeSetHours" />
        <activity android:name=".viewEmployeeProfile" />
        <activity android:name=".serviceOptionEmployee" />
        <activity android:name=".editEmployeeProfile" />
        <activity android:name=".employeeCreateAccount" />
        <activity android:name=".addClinic" />
        <activity android:name=".editServiceScreen" />
        <activity android:name=".deleteService" />
        <activity android:name=".addServiceDialog" />
        <activity android:name=".adminScreen" />
        <activity android:name=".employeeScreen" />
        <activity android:name=".createAccount" />
        <activity android:name=".loginScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>